<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.subject.model.dao.SubjectDao">

 	<select id="selectAllSubject" resultType="subject">
 		select
 			subject_no,
	        subject_title,
	        subject_instructor,
	        subject_category,
	        subject_level,
	        subject_count 
 		from subject_tbl
 		<where>
        <!-- 검색 -->
        <if test="keyword != null and keyword != ''">
            subject_title like '%' || #{keyword} || '%'
        </if>

        <!-- 카테고리 -->
        <if test="category != null and category != ''">
            and subject_category = #{category}
        </if>

        <!-- 난이도 -->
        <if test="level != null and level != ''">
            and subject_level = #{level}
        </if>
    </where>

    <!-- 정렬 -->
    <choose>
        <when test="sort == '1'">
            order by subject_no asc
        </when>
        <when test="sort == '2'">
            order by subject_level asc
        </when>
        <when test="sort == '3'">
            order by subject_level desc
        </when>
        <when test="sort == '4'">
            order by subject_count asc
        </when>
        <when test="sort == '5'">
            order by subject_count desc
        </when>
        <otherwise>
            order by subject_no asc
        </otherwise>
    </choose>
 	</select>
 	
</mapper>
